.MDContainer {
    width: 70vw;
    position: fixed;
    z-index: 100;
    top: 0;
    bottom: 0;
    left: 30%;
    display: flex;
    justify-content: space-between;
    border: 1px solid lightgray;
    box-shadow: 0 0 7px rgb(231, 231, 231);
    border-radius: 10px;
    background-color: white;
    transition: 0.3s ease-out;
}

.MDPictureSide {
    margin: 20px 0;
    width: 66%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.MDHeader {
    display: flex !important;
    justify-content: space-around !important;
    margin: 0 0 40px 0!important;
    width: 100% !important;
    padding-bottom: 15px !important;
    font-weight: 200 !important;
    font-size: 45px !important;
    border-bottom: 1px solid lightgray !important;
    border-radius: 15px !important;
}

.MDPictureSide .DrawerImage {
    width: 510px;
    height: 310px;
    box-shadow: 2px 2px 5px gray;
    border-radius: 10px;
}

.MDIngredients {
    font-size: 27px;
    margin-top: 50px;
    margin-bottom: 30px;
    width: 70%;
    color: rgb(0, 0, 0);
    text-align: left;
    font-weight: 200;
}

.MDPictureSide p {
    border-left: 2px solid lightgray;
    padding-left: 15px;
    margin: 0 0 45px 0;
    width: 70%;
    color: rgb(0, 0, 0);
    text-align: left;
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 2px;
    line-height: 28px;
    transition: 0.2s ease-out;
}

.MDPictureSide p:hover {
    cursor: pointer;
    border-radius: 10px;
}

.MDNutritionImg {
    width: 350px;
    height: 100%;
    padding-left: 10px;
    border-left: 1px solid lightgray;
    border-radius: 10px;
}

@media (max-width: 1300px) { 

    .MDNutritionImg {
        display: none;
    }

    .MDPictureSide {
        margin: 20px auto 20px auto;
        width: 95%;
    }

}

@media (max-width: 786px) { 

    .MDPictureSide .DrawerImage {
        width: 350px;
        height: 210px;
    }

    .MDPictureSide p {
        margin: 0 0 90px 0;
        width: 90%;
    }

    .MDIngredients {
        font-size: 35px;
        margin-top: 100px;
        margin-bottom: 0;
        width: 90%;
    }

    .MDHeader {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .MDPictureSidePriceSpan {
        margin-top: 15px;
    }

}

@media (max-width: 650px) { 

    .MDIngredients {
        margin-top: 75px;
    }

}

@media (max-width: 550px) { 

    .MDIngredients {
        margin-top: 50px;
    }

    .MDPictureSide p {
        margin: 0 0 50px 0;
    }

    .MDContainer {
        width: 85vw;
    }

}

@media (max-width: 500px) { 

    .MDPictureSide .DrawerImage {
        align-self: flex-start;
        width: 300px;
        height: 180px;
    }

}
