.OrdersLayout{
    text-align: center;
    margin-bottom: 200px;
    margin-top: 150px;
}

.OrdersMainHeader {
    margin: 0;
    font-weight: 200;
    font-size: 50px;
}

.OneTimeOrder{
    width: 90%;
    margin: 70px auto 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid lightgray;
    border-radius: 10px;
    box-shadow: 2px 2px 2px gray;
}

.OrdersHeadingSection {
    width: 100%;
    margin: 20px 70px 100px 70px;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.OrdersHeadingSection h2 {
    font-weight: 200;
    font-size: 33px;
}

.OrdersOrderCardContainer {
    width: 45%;
}

.OrdersBottomSection {
    width: 100%;
    margin: -10px 70px 50px 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.OrdersBottomSection h2{
    font-weight: 200;
    font-size: 40px;
}

.OrdersSendAgain {
    display: block;
    width: 270px;
    height: 65px;
    color: white;
    font-size: 29px;
    outline: none;
    border: none;
    border-radius: 5px;
    letter-spacing: 3px;
    background-color: rgb(233, 80, 53);
    box-shadow: 2px 2px 2px gray;
    transition: 0.2s ease-out;
}

.OrdersSendAgain:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.OrdersSendAgain:active{
    transform: translateY(10px);
}


@media (max-width: 1390px) { 

    .OneTimeOrder {
        justify-content: space-around;
    }

    .OrdersOrderCardContainer {
        width: 450px;
    }

    .OrdersOrderCardContainer .OCCardContainerMedioum {
        margin: 0 0 55px 0;
        width: 100%;
    }

    .OrdersOrderCardContainer .OCCardContainerLarge {
        margin: 0 0 70px 0;
        width: 100%;
    }

    .OCCardContainerMedioum {
        margin: 0 0 55px 0;
        width: 100%;
    }

    .OrdersOrderCardContainer .OCCardContainerLarge .OCSalad {
        width: 185px;
        position: relative;
    }

    .OrdersOrderCardContainer .OCCardContainerLarge .OCWafel {
        width: 190px;
        position: relative;
    }

    .OrdersOrderCardContainer .OCCardContainerLarge .OCPizza {
        width: 200px;
        position: relative;
    }

}

@media (max-width: 1100px) { 

    .OrdersHeadingSectionOrderDate {
        display: none;
    }

    .OneTimeOrder {
        justify-content: space-around;
    }

    .OrdersOrderCardContainer {
        width: 70%;
    }

}

@media (max-width: 915px) {

    .OrdersHeadingSection {
        margin: 20px 30px 100px 30px;
    }

}

@media (max-width: 738px) {

    .OrdersHeadingSectionSuccessful {
        display: none;
    }

    .OrdersHeadingSection {
        margin: 20px 0 100px 0;
    }

    .OrdersHeadingSectionEmail {
        margin-left: auto;
        margin-right: auto; 
    }

    .OrdersOrderCardContainer {
        width: 90%;
    }

    .OrdersBottomSection {
        flex-direction: column;
    }

    .OneTimeOrder {
        width: 98%;
    }

}

@media (max-width: 520px) {

    .OrdersOrderCardContainer {
        width: 98%;
    }

    .OrdersOrderCardContainer .OCCardContainerMedioum .OCOrderContentMedioum {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}

@media (max-width: 400px) {

    .OrdersOrderCardContainer .OCPremadeMenuImages {
        width: 150px;
    }

}