.OrdersLayout{
    text-align: center;
    margin-bottom: 200px;
    margin-top: 150px;
}

.OrdersMainHeader {
    margin: 0 0 70px 0;
    font-weight: 200;
    font-size: 50px;
}

.OneTimeOrder{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    margin: 20px;
    border: 1px solid lightgray;
    border-radius: 10px;
    box-shadow: 2px 2px 2px gray;
}

.OneTimeOrder .OCCardContainer {
    width: 29% !important;
}
