.NavDrawerContainer {
    position: fixed;
    top: 1px;
    z-index: 10;
    background: white;
    width: 30%;
    min-width: 200px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    transition: 0.2s ease-out;
}

.NavDrawerLogo {
    display: flex;
    align-items: flex-end;
    height: 59px;
    width: 50%;
    margin-bottom: 20%;
    margin-left: 10px;
}

.NavDrawerLogo img{
    width: 100%;
}

.NavDrawerContent {
    display: flex;
    flex-direction: column;
}

.NavDrawerLi {
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    width: 70%;
    padding: 0 0 10px 0;
    margin: 10px 10px;
    font-size: 17px;
    color: black;
    border-bottom: 1px solid lightgray;
    transition: 0.3s ease-out;
}

.NavDrawerIsNotAuth {
    display: flex;
    flex-direction: column;
    margin-top: 40%;
}













@media (min-width: 915px) {
    .NavDrawerContainer {
        display: none;
    }
}