.OSContainer {
    background-color: white;
    position: fixed;
    z-index: 90;
    width: 350px;
    max-height: 505px;
    overflow-y: auto;
    overflow-x: hidden;
    top: 131px;
    right: 5px;
    border: 1px solid lightgray;
    border-radius: 10px;
    box-shadow: 2px 2px 2px gray;
    padding: 20px;
    transition: 0.3s ease-out;
}

.OSContainerOpen {
    animation: OSGettingIn 0.4s ease-out forwards;
}

.OSContainerClossed {
    animation: OSGettingOut 0.4s ease-out forwards;
}

.OSCardContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.OSCheckoutButton{
    margin: 15px 0;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    font-weight: 200;
    font-size: 20px;
    color: rgb(240, 240, 240);
    padding: 20px;
    background-color: rgb(233, 80, 53);
    outline: none;
    transition: 0.2s ease-out;
}

.OSCheckoutButton:hover:not(:disabled){
    transform: scale(1.03);
    box-shadow: 2px 2px 7px rgb(47, 154, 255);
    cursor: pointer;
}

.OSCheckoutButton:active{
    transform: translateY(10px);
}

.OSCheckoutButton:disabled{
    cursor: not-allowed;
    background-color: rgb(180, 180, 180);
    color: white;
    border: none;
}


@keyframes OSGettingIn {
    0%{
        opacity: 0;
        transform: translateX(0);
    }
    50%{
        opacity: 0.5;
        transform: translateY(50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes OSGettingOut {
    0%{
        opacity: 1;
    }
    25%{
        opacity: 0.5;
        transform: translateY(50px);
    }
    50%{
        opacity: 0;
        transform: translateX(0);
    }
    100%{
        opacity: 0;
        transform: translateX(120%);
    }
}


/* FROM THE ORDER CARDS FILE */

.OCCardContainerSmall {
    display: flex;
    position: relative;
    justify-content: space-around;
    padding: 5px 0;
    margin: 20px;
    border: 1px solid lightgray;
    border-radius: 10px;
    box-shadow: 2px 2px 2px gray;
    width: 90%;
    max-height: 84px;
    transition: 0.3s ease-out;
}

.OCCardContainerSmall:hover{
    cursor: pointer;
    border: 1px solid rgb(233, 80, 53);
    box-shadow: 2px 2px 2px rgb(233, 80, 53);
}

.OCCardContainerSmall:hover::after {
    content: 'DELETE';
    position: absolute;
    color: gray;
    top: 110%; 
    animation: delete 0.3s ease-out;
}

@keyframes delete {
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}

.OCOrderContentSmall {
    width: 70%;
    text-align: center;
}

.OCOrderContentSmall h2{
    margin: 5px;
    padding-bottom: 5px;
    font-weight: 200;
    letter-spacing: 8px;
    color: rgb(0, 0, 0);
}

.OCCardContainerSmall .OCDrinksAdditionalsImages {
    align-self: center;
    width: 28%;
}

.OCCardContainerSmall .OCPremadeMenuImages {
    align-self: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: 1px;
    width: 36.5%;
    height: 95px;
}

.OCCardContainerSmall .OCBurger {
    align-self: center;
    width: 30%;
    overflow: auto;
    max-height: 100%;
    padding-left: 10px;
}

.OCCardContainerSmall .OCBurger img{
    width: 100%;
    margin: auto;
}

.OCCardContainerSmall .OCPizza {
    width: 30%;
    position: relative;
}

.OCCardContainerSmall .OCPizza img:first-child {
    position: absolute;
    top: 6px;
    left: 7px;
    width: 95%;
}

.OCCardContainerSmall .OCPizza img:not(:first-child){
    position: absolute;
    top: 12px;
    left: 12px;
    width: 84%;
    height: 80%;
}

.OCCardContainerSmall .OCSalad {
    width: 30%;
    position: relative;
}

.OCCardContainerSmall .OCSalad img:first-child{
    position: absolute;
    top: 6px;
    left: 7px;
    width: 95%;
}

.OCCardContainerSmall .OCSalad img:not(:first-child){
    position: absolute;
    top: 11px;
    left: 13px;
    width: 82%;
    height: 81%;
}

.OCCardContainerSmall .OCWafel {
    width: 30%;
    position: relative;
}

.OCCardContainerSmall .OCWafel img:first-child{
    position: absolute;
    top: 5px;
    left: 7px;
    width: 90%;
}

.OCCardContainerSmall .OCWafel img:not(:first-child){
    position: absolute;
    top: 9px;
    left: 7px;
    width: 91%;
    height: 83%;
}