.OSContainer {
    background-color: white;
    position: fixed;
    z-index: 90;
    width: 350px;
    max-height: 505px;
    overflow-y: auto;
    overflow-x: hidden;
    top: 100px;
    right: 5px;
    border: 1px solid lightgray;
    border-radius: 10px;
    box-shadow: 2px 2px 2px gray;
    padding: 20px;
}

.OSContainerOpen {
    animation: OSGettingIn 0.4s ease-out forwards;
}

.OSContainerClossed {
    animation: OSGettingOut 0.4s ease-out forwards;
}

.OSCardContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.OSCardContainer .OCCardContainer:hover{
    cursor: pointer;
    color: white;
    border: 2px solid red;
    transform: scale(1.05);
    /* box-shadow: 2px 2px 2px red; */
}

.OSCheckoutButton{
    margin: 15px 0;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    font-weight: 200;
    font-size: 20px;
    color: rgb(240, 240, 240);
    padding: 20px;
    background-color: tomato;
    outline: none;
    transition: 0.3s ease-out;
}

.OSCheckoutButton:hover:not(:disabled){
    transform: scale(1.05);
    box-shadow: 2px 2px 7px rgb(47, 154, 255);
    cursor: pointer;
}

.OSCheckoutButton:active{
    transform: translateY(10px);
}

.OSCheckoutButton:disabled{
    cursor: not-allowed;
    background-color: rgb(180, 180, 180);
    color: white;
    border: none;
}


@keyframes OSGettingIn {
    0%{
        opacity: 0;
        transform: translateX(0);
    }
    50%{
        opacity: 0.5;
        transform: translateY(50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes OSGettingOut {
    0%{
        opacity: 1;
    }
    25%{
        opacity: 0.5;
        transform: translateY(50px);
    }
    50%{
        opacity: 0;
        transform: translateX(0);
    }
    100%{
        opacity: 0;
        transform: translateX(120%);
    }
}