.Backdrop {
    z-index: 90;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: black;
    opacity: 0.5;
    animation: open 0.4s ease-in;
}


@keyframes open {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 0.5;
    }
}