.LocationContainer {
    width: 100%;
    margin-top: 170px;
}

.lazyLoadLocation {
    opacity: 0;
    transform: scale(0.9);
    transition: 0.4s ease-out;
}

.LocationFade {
    opacity: 1;
    transform: scale(1);
    transition: 0.4s ease-out;
}

.LocationPictureHeading {
    width: 100%;
}

.LocationHeadingImage {
    width: 100%;
}

.LocationHeadingImageMini {
    display: none;
}

.LocationHeading {
    font-weight: 200;
    font-size: 55px;
    margin: 70px auto 100px auto;
}

.LocationContent {
    width: 93%;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.LocationRestaurantCard {
    width: 47%;
    height: 250px;
    border: 1px solid lightgray;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 100px;
}

.LocationRestaurantCardImage {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 50%;
    height: 100.4%;
}

.LocationRestaurantCardContent {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 10px 5px 10px 10px;
}

.LocationRestaurantCardContent h1 {
    font-weight: 200;
    font-size: 35px;
    margin: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgray;
    border-radius: 10px;
}

.LocationRestaurantCardContent p {
    margin: 0 0 30px 0;
    text-align: center;
    color: rgb(90, 90, 90);
    font-weight: 200;
    line-height: 35px;
    letter-spacing: 1px;
    font-size: 19px;
}

.LocationTimeSinceAndButton {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}

.LocationTimeSince {
    font-size: 15px; 
    font-weight: 200; 
    color: gray; 
    padding-left: 10px;
}

.LocationRestaurantCardContent button{
    outline: none;
    font-size: 20px;
    margin-right: 10px;
    color: #25c4bf;
    border: 1px solid #25c4bf;
    border-radius: 5px;
    background-color: white;
    padding: 10px 20px;
    transition: 0.2s ease-out;
}

.LocationRestaurantCardContent button:hover{
    cursor: pointer;
    background-color: #25c4bf;
    color: white;
}

.LocationRestaurantCardContent button:active{
    transform: scale(0.9);
}


@media (max-width: 1327px) {
    .LocationSinceSpan {
        display: none;
    }
}

@media (max-width: 1138px) {

    .LocationRestaurantCard {
        width: 80%;
    }

    .LocationContent {
        justify-content: center;
    }

    .LocationSinceSpan {
        display: inline-block;
    }
}

@media (max-width: 791px) {

    .LocationRestaurantCard {
        width: 95%;
    }

    .LocationContainer {
        margin-top: 130px;
    }

    .LocationHeading {
        font-weight: 200;
        font-size: 40px;
        margin: 40px auto 60px auto;
    }

}

@media (max-width: 700px) {

    .LocationHeadingImage {
        display: none;
    }
    
    .LocationHeadingImageMini {
        display: inline-block;
        width: 100%;
        height: 70vh;
    }

}

@media (max-width: 660px) {

    .LocationTimeSince {
        display: none;
    }

    .LocationRestaurantCard {
        width: 80%;
        height: 500px;
        border: 1px solid lightgray;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 100px;
    }
    
    .LocationRestaurantCardImage {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0;
        width: 100%;
        height: 250px;
    }
    
    .LocationRestaurantCardContent {
        height: 50%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-sizing: border-box;
        padding: 20px 5px 10px 5px;
    }
    
    .LocationTimeSinceAndButton {
        display: flex; 
        justify-content: space-between; 
        align-items: center;
    }
    
    .LocationTimeSince {
        display: inline-block;
    }

}

@media (max-width: 564px) {
    
    .LocationHeadingImageMini {
        height: 50vh;
    }

}

@media (max-width: 520px) {

    .LocationHeading {
        display: none;
    }

    .LocationTimeSince {
        display: none;
    }

    .LocationTimeSinceAndButton {
        justify-content: center;
    }

    .LocationRestaurantCard {
        width: 95%;
    }

    .LocationContainer {
        margin-top: 110px;
    }

}

@media (max-width: 480px) {
    
    .LocationHeadingImageMini {
        height: 30vh;
    }

}