.OCCardContainer {
    display: flex;
    justify-content: space-around;
    padding: 5px;
    margin: 20px;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 2px gray;
    width: 300px;
    height: 200px;
}

.OCOrderContent {
    width: 50%;
}

.OCBurger {
    width: 45%;
    overflow: auto;
    max-height: 100%;
}

.OCBurger img{
    width: 100%;
}

.OCPizza {
    width: 45%;
    position: relative;
}

.OCPizza img:first-child {
    position: absolute;
    top: 5.5px;
    left: 7px;
    width: 89%;
    height: 56%;
}

.OCPizza img:not(:first-child){
    position: absolute;
    top: 5.5px;
    left: 7px;
    width: 89%;
    height: 56%;
}

.OCSalad {
    width: 45%;
    position: relative;
}

.OCSalad img:first-child{
    position: absolute;
    top: 5.5px;
    left: 7px;
    width: 89%;
    height: 56%;
}

.OCSalad img:not(:first-child){
    position: absolute;
    top: 5.5px;
    left: 7px;
    width: 89%;
    height: 56%;
}

.OCWafel {
    width: 45%;
    position: relative;
}

.OCWafel img:first-child{
    position: absolute;
    top: 5.5px;
    left: 9px;
    width: 89%;
    height: 56%;
}

.OCWafel img:not(:first-child){
    position: absolute;
    top: 5.5px;
    left: 9px;
    width: 89%;
    height: 56%;
}