.LoginMainDiv {
    margin: 150px auto 0 auto;
    width: 460px;
}

.LoginMainHeader {
    font-size: 70px; 
    font-weight: 200; 
    margin-bottom: 80px;
}

.LoginMainDiv p {
    width: 100%; 
    display: flex; 
    justify-content: space-between;
    font-size: 20px;
    font-weight: 200;
}

.LoginForm {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.LoginTextFields {
    margin-bottom: 30px !important;
}

.LoginSubmitButton {
    display: block;
    width: 100%;
    margin: 30px auto 40px auto;
    text-decoration: none;
    outline: none;
    font-weight: 200;
    font-size: 25px;
    color: rgb(233, 80, 53);
    border: 1.5px solid rgb(233, 80, 53);
    border-radius: 5px;
    padding: 15px 0;
    background-color: white;
    transition: 0.2s ease-out;
}

.LoginSubmitButton:hover {
    cursor: pointer;
    background-color: rgb(233, 80, 53);
    color: white;
}

.LoginSubmitButton:active {
    transform: translateY(10px);
}

.LoginRegisterSpan {
    color: rgb(0, 140, 255);
    transition: 0.2s ease-out;
}

.LoginRegisterSpan:hover {
    cursor: pointer;
    transform: scale(1.1);
}


@media (max-width: 769px) { 

    .LoginMainDiv {
        margin: 120px auto 0 auto;
        width: 400px;
    }
    
    .LoginMainHeader {
        font-size: 60px; 
        font-weight: 200; 
        margin-bottom: 70px;
    }

}

@media (max-width: 490px) { 

    .LoginMainDiv {
        width: 350px;
    }
    
    .LoginMainHeader {
        font-size: 50px; 
        font-weight: 200; 
        margin-bottom: 60px;
    }

}