.FDContainer {
    max-width: 100%;
    margin: 100px 0 200px 0;
}

.FloatingButton{
    display: none;
    top: 89px;
    right: 27px;
    position: fixed;
    z-index: 90;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: red;
    transition: 0.2s ease-out;
}

.FloatingButton:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.FDLayout {
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.FDMenu {
    width: 22%;
    border: 1px solid lightgrey;
    border-radius: 10px;
    box-shadow: 2px 2px 2px gray;
}

.FDMakeDiv {
    width: 73%;
    margin-right: 25px;
}

.FDFlexerDiv {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.FDListItem {
    padding: 15px 0 !important;
    margin-bottom: 60px !important;
    width: 45% !important;
    border: 1px solid lightgrey !important;
    border-radius: 10px !important;
    box-shadow: 2px 2px 2px gray !important;
    transition: 0.3s ease-out !important;
}

.FDListItem:hover {
    transform: scale(1.03) !important;
}

.FDPlusIcon {
    transform: scale(1.2);
}

.FDDrinksAndAdditionals {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.FDDrinks {
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.FDAdditionals {
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}